src/citizenshive/__pycache__/
src/app1/migrations/
src/app1/__pycache__/
src/citizenshive/settings.py
.vscode/settings.json
extra/migrations/0006_auto_20201023_0004.py
extra/migrations/0007_auto_20201023_0039.py
extra/migrations/0008_auto_20201028_0036.py
extra/migrations/0009_auto_20201031_0550.py
extra/migrations/__pycache__/__init__.cpython-37.pyc
extra/migrations/__pycache__/0001_initial.cpython-37.pyc
extra/migrations/__pycache__/0002_comments_posts.cpython-37.pyc
extra/migrations/__pycache__/0003_auto_20201019_1210.cpython-37.pyc
extra/migrations/__pycache__/0004_auto_20201019_2157.cpython-37.pyc
extra/migrations/__pycache__/0005_auto_20201019_2333.cpython-37.pyc
extra/migrations/__pycache__/0006_auto_20201023_0004.cpython-37.pyc
extra/migrations/__pycache__/0007_auto_20201023_0039.cpython-37.pyc
extra/migrations/__pycache__/0008_auto_20201028_0036.cpython-37.pyc
extra/migrations/__pycache__/0009_auto_20201031_0550.cpython-37.pyc
extra/settings.json
src/db.sqlite3

