src/citizenshive/__pycache__/
src/app1/migrations/
src/app1/__pycache__/
src/citizenshive/settings.py
.vscode/
extra/migrations/0006_auto_20201023_0004.py
extra/migrations/0007_auto_20201023_0039.py
extra/migrations/0008_auto_20201028_0036.py
extra/migrations/0009_auto_20201031_0550.py
extra/migrations/__pycache__/
extra/settings.json
src/db.sqlite3

