{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Citizen's Hive</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/caregiver_dashboard.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1" >

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/caregiver_dashboard.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{% static 'javascript/caregiver_dashboard.js' %}">
        </script>


    </head>
    
    {% include "navbar_caregiver.html" %}
    

    <body>


        <div id="modal1" class="modal">
          <form  class="modal-content animate" style="margin: 0 auto" action="{% url 'caregiver_dashboard_view' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="container">
            <div class="row">
                <div class="col-md-3" style="border-right: 1px solid #E8E8E8;">
                    <img src="{{ record.profile_image.url }}" alt="" style="width: 100%; height: 40%; margin-top: 5%;">
                    <br><br>
                    <input type="file" name="profile_image" id="profile_image" class="profile_image">
                </div>

                <div class="col-md-9" style="border-right: 1px solid #E8E8E8;">
                  <form action="{% url 'caregiver_dashboard_view' %}" method="POST" enctype="multipart/form-data">
                  <table>
                    <tr>
                      <td>
                        <label for="dob"><b>Date of Birth</b></label>
                      </td>
                      <td>
                        <input type="date" value="{{ record.dob}}" name="dob" id="dob">
                      </td>
                    </tr>
                  
                    <tr>
                      <td>
                        <label for="availability"> <b> Type of Care</b></label>
                      </td>
                      <td>
                        <select name="availability" value="{{ record.availability }}" id="availability">
                                      <option value="at_caregivers">Living at my place</option>
                                      <option value="at_seniors">Living at Senior's place</option>
                                      </select>
                      </td>
                    </tr>
                  
                    <tr>
                      <td>
                        <label for="zip"><b>Zip Code</b></label>
                      </td>
                      <td>
                        <input type="text" value="{{ record.zip_code }}" name="zip" id="zip">
                      </td>
                    </tr>
                  
                    <tr>
                      <td>
                        <label for="city"><b>City</b></label>
                      </td>
                      <td>
                         <input type="text" value="{{ record.city }}" name="city" id="city">
                      </td>
                    </tr>
                  
                    <tr>
                      <td>
                        <label for="state"><b>State</b></label>
                      </td>
                      <td>
                        <input type="text" name="state" value="{{ record.state }}" id="state">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="start_date"><b>Start Date</b></label>
                      </td>
                      <td>
                        <input type="date" value="{{ record.start_date}}" name="start_date" id="sd">
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="end_date"><b>End Date</b></label>
                      </td>
                      <td>
                        <input type="date" value="{{ record.end_date}}" name="end_date" id="en">
                      </td>
                    </tr>

                    <tr>
                      <td>
                          <label for="bio"><b>Bio</b></label>
                      </td>
                      <td>
                          <input type="text" name="bio" value="{{ record.bio }}" id="bio">
                      </td>
                    </tr>
                  
                  </table>
                    
                    <input type="submit" onclick="document.getElementById('modal1').style.display='none'" name="submit_edit" id="submit_edit" value="Submit" style="color: black;" >
                    
            </div>
        </div>
              </div>
        </form>
        </div>

          <!-- Caregiver Profile Data -->
          <div class="container">
            <form action="{% url 'caregiver_dashboard_view' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row" style="border: 1px solid black;">
                <div class="col-md-3" style="border-right: 1px solid black;">
                    <img src="{% static 'images/person_avatar.png' %}" alt="" style="max-width: 90%;">
                </div>

                <div class="col-md-9" style="border-right: 1px solid #E8E8E8;">
                  <form action="{% url 'caregiver_dashboard_view' %}" method="POST">
                      {% csrf_token %}
                  <button type="button" onclick="document.getElementById('modal1').style.display='block'" class="btn btn-default btn-sm" class="edit_profile" id="edit_profile" style="right: 0; position: absolute;width: 100px;">
                      <span class="glyphicon glyphicon-edit"></span> Edit
                  </button>

                  <br>

                  <table>
                    <tr>
                      <td>
                        <label for="name"> <b>Name</b></label>
                      </td>
                      <td>
                        <body>{{ record.name }}</body>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="email"><b>Email</b></label>
                      </td>
                      <td>
                        <body>{{ record.email }}</body>
                      </td>
                    </tr>
                  
                    <tr>
                      <td>
                        <label for="dob"><b>Date of Birth</b></label>
                      </td>
                      <td>
                        <body>{{ record.dob}}</body>
                      </td>
                    </tr>
                  
                    <tr>
                      <td>
                        <label for="availability"> <b> Availability Preference</b></label>
                      </td>
                      <td>
                        <body>{{ record.availability }}</body>
                      </td>
                    </tr>
                  
                    <tr>
                      <td>
                        <label for="zip"><b>Zip Code</b></label>
                      </td>
                      <td>
                        <body>{{ record.zip_code }}</body>
                      </td>
                    </tr>
                  
                    <tr>
                      <td>
                        <label for="city"><b>City</b></label>
                      </td>
                      <td>
                        <body>{{ record.city }}</body>
                      </td>
                    </tr>
                  
                    <tr>
                      <td>
                        <label for="state"><b>State</b></label>
                      </td>
                      <td>
                        <body>{{ record.state }}</body>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="start_date"><b>Start Date</b></label>
                      </td>
                      <td>
                        <body>{{ record.start_date }}</body>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label for="end_date"><b>End Date</b></label>
                      </td>
                      <td>
                        <body>{{ record.end_date }}</body>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <b>Bio</b>
                      </td>
                      <td>
                        <body>{{ record.bio }}</body>
                      </td>
                    </tr>
                  
                  </table>
                  <!-- <label for="name"> <b>Name</b></label>
                  <input type="text" value="{{ record.name }}" name="name" id="name" disabled> <br>

                  <label for="email"><b>Email</b></label>
                  <input type="text" value="{{ record.email }}" name="email" id="email" disabled><br>

                  <label for="dob"><b>Date of Birth</b></label>
                  <input type="date" name="dob" id="dob" disabled><br>

                  <label for="availability"> <b> Availability Preference</b></label>

                  <select name="availability" id="availability" disabled>
                  <option value="at_seniors">Living at my place</option>
                  <option value="at_caregivers">Living at Caregiver's place</option>
                  </select>
                  <br>

                  <label for="zip"><b>Zip Code</b></label>
                  <input type="text" name="zip" id="zip" disabled><br>

                  <label for="city"><b>City</b></label>
                  <input type="text" name="city" id="city" disabled><br>

                  <label for="state"><b>State</b></label>
                  <input type="text" name="state" id="state" disabled><br> -->

                  <!-- <b>Bio</b><br>
                  
                  <textarea name="bio" id="bio" style="width: 90%;" rows="10" disabled></textarea><br> -->
                 
                   
              
                  
          </div>
          </div>
        </form>
    </body>
    <script>
        // Get the modal
        var modal = document.getElementById('modal1');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            //event.preventDefault();
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        </script>
</html>