{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>
            Citizens Hive
        </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/search_caregivers.css' %}">
        <script type="text/javascript" src="{% static 'javascript/search_caregivers.js' %}">
        </script> 
    </head>
    {% if user_type == 'senior' %}
    {% include "navbar_senior.html" %}
    {% else %}
    {% include "navbar_caregiver.html" %}
    {% endif %}
            <body>
            <div class="card" style="margin: 15px;">
              <div class="card-header">
                {{ caregiver.name }}
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div class="col-md-3">
                  <img src="{{ caregiver.profile_image.url }}" alt="" style="height: 150px;" >
                </div>
                <p class="card-text">
                  <b>Email : </b> {{ caregiver.email }}
                  <b>Zip Code: </b> {{ caregiver.zip_code }}
                </p>
                <a href="{% url 'view_caregiver_details' caregiver_id=caregiver.id %}" style="text-decoration: none; color: black;" class="btn btn-default">Visit Profile &#8599;</a>
              </div>
            </div>
 

    </body>
</html>