{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>
            Citizens Hive
        </title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/search_caregivers.css' %}">
        <script type="text/javascript" src="{% static 'javascript/search_caregivers.js' %}">
        </script> 
    </head>
    {% include "navbar_senior.html" %}
    <body>
        
        <!-- <h1>
            Search Caregivers
            
        </h1> -->


        <div class="container">
            <div class="row" style="background-color: #E8E8E8; border-radius: 5px;">
             
              
                <form action="{% url 'search_caregivers' %}" method="POST" style="width: 100%;">
                    {% csrf_token %}
                    <div class="form-row align-items-center">
                      <div class="col-auto">
                        <label class="sr-only" for="zip">Zip Code</label>
                        <input type="text" class="form-control mb-2" id="zip" placeholder="Zip Code" name="zip" required style="height: 50px;margin-top: 5px;margin-left: 5px;">
                      </div>
        
                      <div class="col-auto my-1">
                        <label class="mr-sm-2 sr-only" for="radius">Radius</label>
                        <select class="custom-select mr-sm-2" id="radius" name="radius" style="height: 50px;">
                          <option value="10">10 miles</option>
                          <option value="20">20 miles</option>
                          <option value="30">30 miles</option>
                          <option value="40">40 miles</option>
                          <option value="50">50 miles</option>
                        </select>
                      </div>

                      <div class="col-auto my-1">
                        <label class="mr-sm-2 sr-only" for="availability">Availability</label>
                        <select class="custom-select mr-sm-2" id="availability" name="availability" style="height: 50px;">
                        
                          <option value="at_seniors">At my home</option>
                          <option value="at_caregivers">At caregiver's place</option>
                          <!-- <option value="Hourly">Hourly</option> -->
                      
                        </select>
                      </div>

                      
                      <!-- <div class="col-auto" style="position: relative; left: 53%;" > -->
                      <div class="col-auto">
                        <label class="mr-sm-2 sr-only" for="start_date">Start Date</label>
                        <input type="date" class="form-control mb-2" id="start_date"  name="start_date" required style="height: 50px;margin-top: 5px;margin-left: 5px;">
                      </div>
                      <div class="col-auto">
                        <label class="mr-sm-2 sr-only" for="end_date">End Date</label>
                        <input type="date" class="form-control mb-2" id="end_date"  name="end_date" required style="height: 50px;margin-top: 5px;margin-left: 5px;">
                      </div>

                      <div class="col-auto" >
                        <button type="submit" class="btn btn-primary mb-2" style="height: 49px;"> &#128269;</button>
                        
                      </div>
                    <!-- </div> -->
                  </form>
            </div>
            
            <div style="float: left; width: 100%">
            {% if caregivers|length == 0 and isPostRequest %}
             <h2 style="margin-left: 2%;">No Results match the current search criteria</h2>            
             {% else %}
             {% if caregivers|length > 0 and isPostRequest %}
                 <h2 style="margin-left: 2%;">No. of caregivers: {{ caregivers|length }}</h2>
            </div>
            {% for caregiver in caregivers %}
            <br>
            <div class="card" style="float:left; margin: 2%; width:70%;">
              <div class="card-header">
                {{ caregiver.name }}
              </div>
              <div class="card-body">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                <div style="display: flex;">
                    <!-- <div style="float: left; width:25%; border: 1px solid red;"> -->
                        <div>
                  <img src="{{ caregiver.profile_image.url }}" alt="" style="height: 150px;" >
                </div>
                <div style = "margin-left: 15%;">
                    
                <p class="card-text">
                  <b>Name : </b> {{ caregiver.name }}
                  <br>
                  <b>Zip Code: </b> {{ caregiver.zip_code }}
                  <br>
                  <b>Start Date: </b> {{ caregiver.start_date }}
                  <br>
                  <b>End Date: </b> {{ caregiver.end_date }}
                </p>
                
                <a href="{% url 'view_caregiver_details' caregiver_id=caregiver.id %}" style="text-decoration: none; color: black;" class="btn btn-default">Visit Profile &#8599;</a>
                <a href="{% url 'add_or_get_chatroom' user_id=caregiver.id %}" style="text-decoration: none; color: black;" class="btn btn-default"> Chat &#8599;</a>
              
              </div>
              </div>
            </div>
            </div>
           
        {% endfor %}
        {% endif %}
        {% endif %}
        

        <!-- <h1>
            Zip codes data
            {{ data }}
        </h1> -->

        
        

    </body>
</html>