{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Services</title>
    </head>
    <body>
        <div class="bg">
            <div class="services"></div>
            <h1>
                Services
            </h1>
            <h3>Move-In</h3>
                <p style="line-height: 1.7rem">Caregiver move in with the senior. </p>
            <h3>Move-Out</h3>
                <p style="line-height: 1.7rem">Senior move to the caregiver's house. </p>
            <h3>Hourly Service</h3>
                <p style="line-height: 1.7rem">This is an hourly service that will be charged per hour. The hourly rate is currently $14.</p>

        </div>      
    </body>
</html> 